.lvChartTypeContent {
    height: 100%;
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display:-ms-grid;
    -ms-grid-columns:11.9% 145px 1fr 11.9%;
    -ms-grid-rows:1fr;
}

.lvChartTypeContentImg {
    -ms-grid-row: 1;
    -ms-grid-column: 2; 
    -ms-grid-row-align: center;
}

.lvChartTypeContentLabel {
    -ms-grid-row: 1;
    -ms-grid-column: 3; 
    -ms-grid-row-align: center;
}

.div_modifySerie_graphType .rightMenuLv .win-vertical .win-item {
    height: 110px;
}

.div_modifySerie_graphType {
    -ms-grid-row: 1;
}

