/*-------------------------------
-- Author : [S.H]
-- Creation date : 24/12/2012
------------------------------*/
 #fbSearchResultPage {
    display:block;
}

.rightMenuLvFbItems {
    -ms-grid-row: 1;
    -ms-grid-rows: 50% 1fr;
    -ms-grid-column: 2; 
    -ms-grid-row-align: center;
}

#fbPageName {
-ms-grid-row: 1;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

#fbPageCategory {
-ms-grid-row: 2;
font-size: 10px;
}