/*-------------------------------
-- Author : HK
-- Creation date : 14/02/2013
------------------------------*/
.connectorItem {
    display: -ms-grid;
    -ms-grid-columns: 22% 1fr;
    -ms-grid-rows: 1fr;
    height: 100%;
    width: 100%;
    background-color: #FAF8EA;
}

#contenthost {
    height: 100%;
    width: 100%;
    background-color: rgb(250, 248, 234);
}

.topPage .searchQuery{
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-align: end;
    display: -ms-grid;
    font-family: Segoe UI Light;
    color: #4c4a43;
    font-size: 26.67px;
    margin-left: calc(8.6% + 204px);
    letter-spacing: 0.05em;
    width: 100%;
    margin-bottom: 8px;
}

.connectorItem {
    display: -ms-grid;
    -ms-grid-columns: 22% 1fr;
    -ms-grid-rows: 1fr;
    height: 100%;
    width: 100%;
    background-color: #FAF8EA;
}

.connectorItem:hover, .connectorItem:active {
    background-color: #F6F3E2;
}

.infoWrapper {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 5% 35% 30% 30% 1fr;
    background-color: #f1eedc;
    padding-left: 5px;
}

.connectorTitle {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    color: #6d6b62;
    font-family: 'Segoe UI';
    font-size: 15pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 2px;
}

.status {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    display: -ms-grid;
    -ms-grid-columns: 1fr 30%;
    -ms-grid-rows: 1fr;
    margin-top: -4px;
}

.connectorDate {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    color: #b1ae9a;
    font-family: 'Segoe UI SemiLight';
    font-size: 11pt;
}

.lblTypeConnector {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    color: #b1ae9a;
    font-family: 'Segoe UI SemiLight';
    font-size: 19.5px;
    margin-top: 22px;
    margin-left: -5px;
}

.lvSearch {
    width: 100%;
    height: 100%;
}

    .lvSearch .win-surface {
        margin-left: 8.6%;
    }

    .lvSearch .connectorItem {
        z-index: 1;
        height: 85px;
        width: 330px;
    }

.win-ring {
    color: #EC715A;
}


progress::-ms-fill {
    -ms-animation-name: -ms-fill;
}

.connectorStatus[dataSrc="Failed"] {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    color: #7e7b6b;
    font-size: 11pt;
    font-family: 'Segoe UI Semilight';
}

.connectorStatus[dataSrc="Pending"] {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    color: #ec715a;
    font-size: 11pt;
    font-family: 'Segoe UI Semilight';
    margin-left: 18%;
}

.connectorStatus[dataSrc="Done"] {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    font-family: 'Segoe UI Semilight';
    color: #7e7b6b;
    font-size: 11pt;
}


.connectorStatusLoading[dataSrc="Pending"] {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: block;
}

.connectorStatusLoading[dataSrc="Done"] {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: none;
}

.connectorStatusLoading[dataSrc="Failed"] {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: none;
}

.tooltipConnector {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: auto;
    background-color: #f1eedc;
}

#searchPage .itemKpi {
    background-color: #f1eedc;
    display: -ms-grid;
    -ms-grid-columns: 20px 1fr;
    -ms-grid-rows: 56px 1fr;
    left: 75px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    #searchPage .itemKpi .valueWrapper {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        color: #4c4a43;
        font-family: 'Abril Fatface';
        font-size: 30pt;
        width: 100%;
        padding-top: 8px;
    }

    #searchPage .itemKpi .footer {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
        font-size: 11pt;
    }

        #searchPage .itemKpi .footer .label {
            font-family: 'Segoe UI';
            color: #4c4a43;
            font-size: 17.33px;
            max-height: 50px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            padding-top: 1px;
        }
         

        #searchPage .itemKpi .footer .source {
            font-family: 'Segoe UI Light';
            color: #bab7a3;
            font-size: 14.66px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }

        #searchPage .itemKpi .footer .date {
            font-family: 'Segoe UI Light';
            color: #bab7a3;
            font-size: 14.66px;
        }

#searchPage .highlighted {
    background-color: #ebc24b;
}

    #searchPage .highlighted .valueWrapper {
        color: #faf8ea;
    }

    #searchPage .highlighted .footer .label {
        color: #faf8ea;
        font-family: 'Segoe UI';
        font-size: 17.33px;
    }

    #searchPage .highlighted .footer .source {
        color: #a8882d;
        font-family: 'Segoe UI Light';
        font-size: 14.66px;
    }

    #searchPage .highlighted .footer .date {
        color: #a8882d;
        font-family: 'Segoe UI Light';
        font-size: 14.66px;
    }

#searchPage .explorationTile {
    color: #4c4a43;
     width: 100%;
    height: calc(100% - 20px);
}

   #searchPage .explorationTile .label {
        color: #4c4a43;
        font-size: 11pt;
        font-family: 'Segoe UI';
        height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 280px;
        padding: 10px;
    }


    #searchPage.explorationTile .containerItemExploration {
        width: 100%;
        height: 100%;
    }

/* ---------- search filter ----------*/
#searchPage .listfilter {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-rows: 100%;
    -ms-grid-columns: auto 3% auto;
    width: 100%;
    display: -ms-grid;
}

#searchPage .listfilter .searchFilter {
    font-size: 18pt;
    font-family: 'Segoe UI Light';
    color: #C7C2B0;
    cursor: pointer;
    -ms-grid-row: 1;
}

/* ---------- End search filter ----------*/



/*******************************************/

@media screen and (-ms-view-state: snapped) {
    #searchPage .filterPage {
        -ms-grid-columns: 1fr;
    }

    #searchPage .topPage {
       -ms-grid-column: 1;
       -ms-grid-columns: 20px 37px auto 10px 1fr;
       -ms-grid-row: 1;
       -ms-grid-rows: 1fr;
       display: -ms-grid;
       height: 108px;
       width: 100%;
    }

    .topPage .searchQuery {
        margin-left: 120px;
        font-size: 10pt;
        margin-bottom: 6px;
    }
    
    #searchPage .listfilter {
        -ms-grid-columns: auto 3% auto;
        -ms-grid-column: 1;
    }

    #searchPage .listfilter .searchFilter {
        font-size: 14pt;
        margin-top: 7px;
    }

    .connectorTitle {
        font-size: 11pt;
        margin-left: -3px;
        margin-top: 1px;
    }

    .lblTypeConnector {
        margin-top: 15px;
    }

    .status {
        -ms-grid-row: 3;
        margin-top: -5px;
        margin-left: -3px;
    }

    .connectorDate {
        -ms-grid-row: 4;
        margin-top: -6px;
    }

    .lvSearch {
        height: 96%;
        margin-left: 0%;
        width: 298px;
    }

    .lvSearch .win-surface {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    
    .lvSearch > .win-vertical .connectorItem {
        width: 278px;
        z-index: 1;
        height: 70px;
    }

    .lvSearch > .win-vertical .win-container {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    #searchPage > #contentPage {
        margin-top: -1.3%;
        width: 310px;
        margin-left: 13px;
    }
}
/*******************************************/

