/*[HK] Creation date : 20/12/2012*/

#credentialsPage .rightMenuBtn {
    width: 152px;
    /*display: none;*/
}

.credentialsPage{
    -ms-grid-rows: auto auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#credentialsPage .rightMenuLv > .win-vertical.win-viewport {
    overflow-x: hidden;
    overflow-y: hidden;
}

#credentialsPage .rightMenuLv .rightMenuContentSeparatedDivs {
    height: 100%;
    width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display:-ms-grid;
    -ms-grid-columns:11.9% 50% 1fr 11.9%;
    -ms-grid-rows:1fr;
}

#credentialsPage .rightMenuContentSeparatedDivs {
    height: 100%;
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display:-ms-grid;
    -ms-grid-columns:11.9% 1fr 11.9%;
    -ms-grid-rows:auto 10px;
}

#credentialsPage .rightMenuLv #div_profile_credentials {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #FAF8EA;
    font-size: 10.5pt;
    font-family: Segoe UI;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: start;
    display: -ms-grid;
    -ms-grid-columns: 32px 1fr;
}

#credentialsPage .rightMenuLv .imageCredentials {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
    -ms-grid-column-align: start;
    
    height:32px;
    width:32px;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: auto;
    background-color: transparent;
}

#credentialsPage .rightMenuLv .labelCredentials {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    -ms-grid-column-align: start;
    margin-left: 7px;
}

#credentialsPage .rightMenuLv #div_credentials_removeCredentials {
    -ms-grid-row: 1; 
    -ms-grid-column: 3;
    -ms-grid-row-align: center; 
    -ms-grid-column-align:end;
}

#credentialsPage .rightMenuLv #btn_credentials_removeCredentials {
    width:50px;
    color:#faf8ea; 
    font-family: Segoe UI;
    font-size: 14.67px; 
    text-align: center; 
    height: 31px; 
    border: 2px solid #6c5d80; 
    background-color:#403351; 
    border-color:#6c5d80;
}

#credentialsPage .rightMenuLv #btn_credentials_removeCredentials:hover { 
    background-color: #8b7d9e; 
    border: 2px solid #6c5d80;
    color: #403351;
}

#credentialsPage .rightMenuLv #btn_credentials_removeCredentials:active { 
    background-color: #8b7d9e; 
    border: 0px;
    color: #403351;
}