/*--------------------------------
-- Author : [S.H]
-- Creation date : 17/12/2012
--------------------------------*/
#div_forgetPassword_content {
    -ms-grid-column:3; 
    -ms-grid-row:2;
     -ms-grid-rows:71px 42px 33px 51px 34px 33px 1fr; 
     display: -ms-grid
}
#txt_forgetPassword {
    -ms-grid-row:1;
}
#lbl_forgetPassword_emailLabel {
    -ms-grid-row:2; 
    -ms-grid-row-align:end;
}
#txt_forgetPassword_emailAdress {
    -ms-grid-row:3;
    margin-left: 3px;
}
#lbl_forgetPassword_error {
    -ms-grid-row:4;
    -ms-grid-row-align: center;
}
#div_forgetPassword_sendButton {
    -ms-grid-row: 5;
    -ms-grid-row-align: start; 
    -ms-grid-columns: 90px 5px 50px;
     display: -ms-grid;
}
#btn_forgetPassword_send {
     -ms-grid-column: 1; 
     margin-left: 3px;
}

#prog_forgetPsw_loadingRing {
    -ms-grid-column: 3; 
    -ms-grid-column-align:end;
    display:none;
}

#prog_forgetPsw_loadingRing progress::-ms-fill {
    -ms-animation-name: -ms-ring;
}

#prog_forgetPsw_loadingRing progress:indeterminate {
    width: 29px;
    height: 29px; 
    color: #EC715A;
}

#txt_notification_msg {
    -ms-grid-row: 6; 
    -ms-grid-row-align: start;
    margin-left: 3px;
    margin-top: 10px; 
}

@media screen and (-ms-view-state: snapped) {
      #div_forgetPassword_content .pageTitle {
       width:300px;
       font-size:15pt;
       margin-left:20px;
    }
    .contentBackBtn {
     -ms-grid-row: 2;
    }
   
}